@charset "utf-8";
/* CSS Document */


/*
* {
	box-sizing: border-box;
}

*/

body {
	background-color: #dbdfe0;
	font-family: Verdana, Arial, sans-serif;	
}

#wrapper {
	width: 80%;
	min-width: 960px;
	max-width: 1200px;
	background: #f2f4f4;
	margin: 0 auto;
}

header {
	background-color: #fcffff;
	color: #888989;
	font-size: 150%;	
	padding: 10px 10px 10px 10px;
}


/*----------------*/

aside h1 {
    font: 50px Georgia, Serif;
    
    background: rgb(54, 25, 25);
    background: rgba(54, 25, 25, 0);
    color: #fff;
    padding: .7em;
    /*margin: 0; */
    margin-top: 70px;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    -webkit-transform: rotate(90deg) translateX(20px); 
    -moz-transform:    rotate(90deg) translateX(20px);
    -ms-transform:     rotate(90deg) translateX(20px);
    -o-transform:      rotate(90deg) translateX(20px); 
    transform:         rotate(90deg) translateX(20px); 
    -webkit-transform-origin: 1.8em .5em;
    -moz-transform-origin:    1.8em .5em;
    -ms-transform-origin:     1.8em .5em;
    -o-transform-origin:      1.8em .5em;
    transform-origin:         1.8em .5em;
    }
    aside.notrans h1{
        -webkit-transform: none;
        -moz-transform:    none;
        -ms-transform:     none;
        -o-transform:      none;
        transform:         none;
        }





  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
  }
  

/*----------------*/

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #99e5e5; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #1c6363;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*-----------------*/

/* Start of Column CSS */
#container4 {
    clear:left;
    float:left;
    width:100%;
    overflow:hidden;
    background:#b2f0f9; /* column 4 background colour */
}
#container3 {
    clear:left;
    float:left;
    width:100%;
    position:relative;
    right:25%;
    background:#78E8E3; /* column 3 background colour */
}
#container2 {
    clear:left;
    float:left;
    width:100%;
    position:relative;
    right:25%;
    background: #0AAD9C; /* column 2 background colour */
}


#container1 {
    float:left;
    width:100%;
    position:relative;
    right:25%;
    background:#2fc8c8; /* column 1 background colour */
}
#col1 {
    float:left;
    width:21%;
    position:relative;
    left:77%;
    overflow:hidden;
}
#col2 {
    float:left;
    width:21%;
    position:relative;
    left:81%;
    overflow:hidden;
}
#col3 {
    float:left;
    width:21%;
    position:relative;
    left:85%;
    overflow:hidden;
}
#col4 {
    float:left;
    width:21%;
    position:relative;
    left:89%;
    overflow:hidden;
}


/*-------------------*/

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

/*-------------------*/

/* --> */

/*-------------------*/

/* The navigation bar */
.topBar {
    overflow: hidden;
    background-color: #fcffff;
    color: #888989;
	font-size: 150%;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding: 10px 10px 10px 10px;
}

/* Main content */
.mainCodes {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}


/* --> */


footer {
	background-color: #155959;
	color: #f2f9f9;
	font-size: 70%;
	text-align: center;
	padding: 10px; 
	clear: both;
		
}


/*

Responsive Style 
@media (max-width: 1024px) {
	#wrapper {	
		min-width: 0px;
		width: 100%;
	}
	
	footer {
		width: 100%;
		margin: 0;
		font-size: 100%;	
	}
	
	main {
		width: 100%;
		margin: 0;
		font-size: 125%;
	}
	
	nav {
		float: none;
		width: 100%;
		height: auto;
		text-align: center;
	}
	
	nav ul li {
		display: inline-block;
		padding: 15px 25px;
	}
	
	nav ul li a {
		color: #000;
	}
}

*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}