`@charset "utf-8";
/* CSS Document */

h1 {
    font-family: 'Eagle Lake', cursive;
    color: #80ced6;
    font-size: 3em;
    padding-right: 50px;
    padding-bottom: none;
}

body {
    background: url("backDesignT2.png") 100% 0 no-repeat, linear-gradient(to right, #d5f4e6 0%, #80ced6 100%  ) ;
    padding-left: 15px;
}

canvas {
    border: 10px solid #80ced6;
    background-color: #fefbd8;
}

.container {
    width: 150px;
    background-color:  #80ced6;
    padding-right: 15px;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #d5f4e6;
    color: #618685;
    cursor: pointer;
    padding: 18px;
    width: 150px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #80ced6;
}

/* Style the accordion panel. Note: hidden by default */

div.panel {
    padding: 0 18px;
    background-color: #e4e6e7;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
